In [1]:
import pandas as pd
import csv
import random

FUNZIONE LEGGIDATI

In [2]:

def LeggiDati(filename):

    df=pd.read_csv(filename,header=0)

    corse=[]
    fermate=df.columns[2:].tolist()  #creo una lista con le fermate prendendo dalla seconda colonna in avanti

    for _,riga in df.iterrows():  #iterrows itera per indice e contenuto della riga, con i nomi delle colonne come chiavi.
        autista=riga.iloc[0]
        passeggeri=[]
        for dato in riga[2:]:
            if pd.isna(dato) or dato == '--': # il comando .isna() serve per capire se il valore è nullo
                passeggeri.append((0, 0))
            elif isinstance(dato, str) and '/' in dato: # il comando isintance(dato,str) controlla se dato è una stringa-> ritorna vero o falso
                saliti, scesi = map(int, dato.split('/')) # il comando map(funzione,iterabile) serve per applicare una funzione a ogni elemento di un iterabile
                passeggeri.append((saliti, scesi)) 
            elif isinstance(dato, str) and dato.startswith('-'):
                scesi = int(dato.rstrip('-'))
                passeggeri.append((0, scesi))
            else:
                    try:
                        saliti = int(dato)
                        passeggeri.append((saliti, 0))
                    except:
                        passeggeri.append((0, 0))

        corsa = {'autista': autista, 'passeggeri': passeggeri}
        corse.append(corsa)
    
    return df,corse,fermate




#for corsa in corse:
   # print(corsa)

FUNZIONE ESTRAI_SALITI_SCESI

In [3]:
def estrai_saliti_scesi(val):
    if val == '--' or pd.isna(val):
        return (0, 0)
    elif '/' in val:
        saliti, scesi = val.split('/')
        return (int(saliti), -int(scesi))
    elif val.startswith('-'):
        return (0, -int(val.strip('-')))
    else:
        try:
            return (int(val), 0)
        except:
            return (0, 0)

In [4]:
def estrai_saliti_scesi_cla(val):
    if val == '--' or pd.isna(val):
        return ('0/0', 0,0)
    elif '/' in val:
        saliti, scesi = val.split('/')
        return (val,int(saliti), -int(scesi))
    elif val.startswith('-'):
        return (f"0/{int(val.strip('-'))}",0, -int(val.strip('-')))
    else:
        try:
            return (f'{int(val)}/0',int(val), 0)
        except:
            return ('0/0',0, 0)

In [10]:
df_ae=LeggiDati('dati_aeroporto_torino.csv')[0]


#creare tabella ID time fermata con colonne scesi saliti

df_ae_melt=pd.melt(df_ae,id_vars=['ID', 'Time'],var_name='Fermata_ID',value_name='Passeggeri')  #idvars =identificativo di oggni riga    varname=come chiamo la nuova colonna che prende i nomi delle colonne passate(eccetto quelle identificative) 
df_ae_melt.rename(columns={'ID':'Autista_ID'}, inplace=True)


df_ae_melt['Passeggeri2'] = df_ae_melt['Passeggeri'].astype(str).str.strip() #rimuovo spazi e mi assicuro che siano stringhe, così le converto con la prossima funzione in interi
df_ae_melt[['Passeggeri2','Saliti', 'Scesi']] = df_ae_melt['Passeggeri2'].apply(estrai_saliti_scesi_cla).apply(pd.Series) #applico la funzione estrai_saliti_scesi a tutte le righe



df_ae_melt['Totale_Passeggeri']=df_ae_melt['Saliti'] - (df_ae_melt['Scesi'])
display(df_ae_melt.tail(50))
pd.set_option('display.max_rows', None)
#display(df_ae_melt.loc[df_ae_melt['Saliti']==0])
pd.reset_option('display.max_rows')

,Autista_ID,Time,Fermata_ID,Passeggeri,Passeggeri2,Saliti,Scesi,Totale_Passeggeri
598,A154,11:45,F013,-16,0/16,0,-16,16
599,A008,12:00,F013,-15,0/15,0,-15,15
600,A012,12:15,F013,-18,0/18,0,-18,18
601,A003,12:30,F013,-40,0/40,0,-40,40
602,A041,12:45,F013,-26,0/26,0,-26,26
603,A240,13:00,F013,-28,0/28,0,-28,28
604,A119,13:15,F013,-34,0/34,0,-34,34
605,A015,13:30,F013,-21,0/21,0,-21,21
606,A154,13:45,F013,-24,0/24,0,-24,24
607,A008,14:00,F013,-26,0/26,0,-26,26
608,A012,14:15,F013,-34,0/34,0,-34,34
609,A003,14:30,F013,-29,0/29,0,-29,29
610,A041,14:45,F013,-35,0/35,0,-35,35
611,A240,15:00,F013,-33,0/33,0,-33,33
612,A119,15:15,F013,-13,0/13,0,-13,13
613,A015,15:30,F013,-21,0/21,0,-21,21
614,A154,15:45,F013,-35,0/35,0,-35,35
615,A008,16:00,F013,-17,0/17,0,-17,17
616,A212,16:15,F013,-21,0/21,0,-21,21
617,A021,16:30,F013,-29,0/29,0,-29,29
618,A022,16:45,F013,-20,0/20,0,-20,20
619,A109,17:00,F013,-17,0/17,0,-17,17
620,A200,17:15,F013,-35,0/35,0,-35,35
621,A010,17:30,F013,-14,0/14,0,-14,14
622,A139,17:45,F013,-20,0/20,0,-20,20
623,A006,18:00,F013,-21,0/21,0,-21,21
624,A212,18:15,F013,-12,0/12,0,-12,12
625,A021,18:30,F013,-30,0/30,0,-30,30
626,A022,18:45,F013,-28,0/28,0,-28,28
627,A109,19:00,F013,-15,0/15,0,-15,15
628,A200,19:15,F013,-28,0/28,0,-28,28
629,A010,19:30,F013,-33,0/33,0,-33,33
630,A139,19:45,F013,-23,0/23,0,-23,23
631,A006,20:00,F013,-11,0/11,0,-11,11
632,A212,20:15,F013,-17,0/17,0,-17,17
633,A021,20:30,F013,-19,0/19,0,-19,19
634,A022,20:45,F013,-12,0/12,0,-12,12
635,A109,21:00,F013,-10,0/10,0,-10,10
636,A200,21:15,F013,-9,0/9,0,-9,9
637,A010,21:30,F013,-21,0/21,0,-21,21
638,A139,21:45,F013,-16,0/16,0,-16,16
639,A006,22:00,F013,-12,0/12,0,-12,12
640,A212,22:15,F013,-11,0/11,0,-11,11
641,A021,22:30,F013,-13,0/13,0,-13,13
642,A022,22:45,F013,-4,0/4,0,-4,4
643,A109,23:00,F013,-11,0/11,0,-11,11
644,A200,23:15,F013,-11,0/11,0,-11,11
645,A010,23:30,F013,-11,0/11,0,-11,11
646,A139,23:45,F013,-4,0/4,0,-4,4
647,A006,00:00,F013,-5,0/5,0,-5,5

FUNZIONE LEGGINOMI

In [6]:
def LeggiNomi(filename): 
    df=pd.read_csv(filename, sep=':',header=None, names=['Code','Name'])
    dict_nomi={}
    for _,riga in df.iterrows():
        dict_nomi[riga.iloc[0]]=riga.iloc[1]
    #print(dict_nomi)

    return df, dict_nomi

JOIN(merge) TRA DF_DATABASE E DF_AE_MELT

In [ ]:

df_db= LeggiNomi('database.txt')[0]
df_db2=LeggiNomi('database.txt')[0]
df_db.rename(columns={'Code':'Autista_ID'}, inplace=True)
df_db2.rename(columns={'Code':'Fermata_ID'},inplace=True)
#display(df_db.head())

''' PRIMO JOIN'''
df_joined=df_ae_melt.merge(df_db, how='left', on='Autista_ID')
df_joined=df_joined[['Autista_ID','Name','Time','Fermata_ID','Passeggeri','Passeggeri2','Saliti','Scesi','Totale_Passeggeri']] #ho spostato la colonna 'Name' affianco a quella di 'Autista_ID'
df_joined.rename(columns={'Name':'Autista_Name'}, inplace=True)
#display(df_joined.sort_values(by='Totale_Passeggeri'))
display(df_joined)
#display(df_joined.iloc[50:100])

'''SECONDO JOIN'''
df_joined2=df_joined.merge(df_db2, on='Fermata_ID')
df_joined2.rename(columns={'Name':'Fermata_Name'}, inplace=True)
df_joined2=df_joined2[['Autista_ID','Autista_Name','Time','Fermata_ID','Fermata_Name','Passeggeri','Passeggeri2','Saliti','Scesi','Totale_Passeggeri']]
display(df_joined2)

'''RACCOLGO SALITI E SCESI'''
SalitiRaccolti=df_joined2.groupby('Fermata_Name')['Saliti'].sum()
#display(SalitiRaccolti)
ScesiRaccolti=df_joined2.groupby('Fermata_Name')['Scesi'].sum()
#display(ScesiRaccolti)

max_saliti=SalitiRaccolti.max()
#display(max_saliti)
max_scesi=-(ScesiRaccolti.min())

fermata_max= SalitiRaccolti.idxmax()
#display(indice_fermata_max)
fermata_min=ScesiRaccolti.idxmin()

'''PRINT E SOLUZIONE'''
#MaxSaliti=df_fermateRaccolte['Saliti'].max()
#display(MaxSaliti)
print(f'La fermata con più saliti è {fermata_max} con {max_saliti} passeggeri saliti ')
print(f'La fermata con più scesi è {fermata_min} con {max_scesi} passeggeri scesi')

#print(df_joined.groupby('Autista_ID')['Saliti'].sum())
SalitiXAutista=df_joined.groupby('Autista_ID')['Saliti'].sum().to_dict() #creo dizionario con chiave autista id e valore la somma dei saliti per quell'autista id
print(SalitiXAutista)

'''probelmi da risolvere: 
- nel print al posto del codice della fermata devo mettere il nome della fermata
'''

,Autista_ID,Autista_Name,Time,Fermata_ID,Passeggeri,Passeggeri2,Saliti,Scesi,Totale_Passeggeri
0,A012,Eliana Capuana,06:15,F042,13,13/0,13,0,13
1,A003,Giacobbe Comboni,06:30,F042,13,13/0,13,0,13
2,A041,Adele Venditti,06:45,F042,16,16/0,16,0,16
3,A240,Danilo Bazzi,07:00,F042,13,13/0,13,0,13
4,A119,Ida Contarini,07:15,F042,3,3/0,3,0,3
...,...,...,...,...,...,...,...,...,...
643,A109,Felipe Casal Muñoz,23:00,F013,-11,0/11,0,-11,11
644,A200,Elladio Endrizzi,23:15,F013,-11,0/11,0,-11,11
645,A010,Barbara Bush,23:30,F013,-11,0/11,0,-11,11
646,A139,Filippo Gregorio,23:45,F013,-4,0/4,0,-4,4
647,A006,Silvio Cabibbo,00:00,F013,-5,0/5,0,-5,5

,Autista_ID,Autista_Name,Time,Fermata_ID,Fermata_Name,Passeggeri,Passeggeri2,Saliti,Scesi,Totale_Passeggeri
0,A012,Eliana Capuana,06:15,F042,Aeroporto,13,13/0,13,0,13
1,A003,Giacobbe Comboni,06:30,F042,Aeroporto,13,13/0,13,0,13
2,A041,Adele Venditti,06:45,F042,Aeroporto,16,16/0,16,0,16
3,A240,Danilo Bazzi,07:00,F042,Aeroporto,13,13/0,13,0,13
4,A119,Ida Contarini,07:15,F042,Aeroporto,3,3/0,3,0,3
...,...,...,...,...,...,...,...,...,...,...
643,A109,Felipe Casal Muñoz,23:00,F013,Torino P. Nuova,-11,0/11,0,-11,11
644,A200,Elladio Endrizzi,23:15,F013,Torino P. Nuova,-11,0/11,0,-11,11
645,A010,Barbara Bush,23:30,F013,Torino P. Nuova,-11,0/11,0,-11,11
646,A139,Filippo Gregorio,23:45,F013,Torino P. Nuova,-4,0/4,0,-4,4
647,A006,Silvio Cabibbo,00:00,F013,Torino P. Nuova,-5,0/5,0,-5,5

Fermata_Name
Aeroporto          1626
Borgaro             465
Caselle 1           714
Caselle 2           491
Torino 1              0
Torino 2              0
Torino 3              0
Torino P. Nuova       0
Torino P. Susa        0
Name: Saliti, dtype: int64

Fermata_Name
Aeroporto             0
Borgaro             -41
Caselle 1           -31
Caselle 2           -41
Torino 1           -186
Torino 2            -74
Torino 3            -99
Torino P. Nuova   -1755
Torino P. Susa    -1069
Name: Scesi, dtype: int64

La fermata con più saliti è  Aeroporto con 1626 passeggeri saliti
La fermata con più scesi è  Torino P. Nuova con 1755 passeggeri scesi
{'A003': 335, 'A006': 87, 'A008': 257, 'A010': 140, 'A012': 296, 'A015': 284, 'A021': 163, 'A022': 117, 'A041': 289, 'A109': 98, 'A119': 301, 'A139': 107, 'A154': 246, 'A200': 149, 'A212': 111, 'A240': 316}

'probelmi da risolvere: \n- nel print al posto del codice della fermata devo mettere il nome della fermata\n'

FUNZIONE CALCOLA PASSEGGERI PER AUTISTA
l'ho lasciata uguale a quella originale, non tocca i dataframe

In [8]:
def calcolaPasseggeriXAutista(corse):
    fermate=[]

    saliti={}
    for corsa in corse:
        tot=0
        for tupla in corsa['passeggeri']:
            tot+=tupla[0]

        autista=corsa['autista']
        if autista in saliti:
            saliti[autista]+=tot
        else:
            saliti[autista]=tot

    return saliti

FUNZIONE MAIN

In [9]:
def main():
    
    df_ae, corse,fermate=LeggiDati('dati_aeroporto_torino.csv')
    df_db,nomi=LeggiNomi('database.txt')

    display(df_db)

    
    salitiMax=0
    scesiMax=0
    for fermata in range(len(fermate)):
        saliti=0
        scesi=0
        for corsa in corse:
            saliti+=corsa['passeggeri'][fermata][0]
            scesi+=corsa['passeggeri'][fermata][1]
        if saliti>salitiMax:
            salitiMax=saliti
            fermataSalitiMax=fermate[fermata]
        if scesi>scesiMax:
            scesiMax=scesi
            fermataScesiMAx=fermate[fermata]

    print(f'La fermata con il massimo di saliti {salitiMax} è {nomi[fermataSalitiMax]}')
    print(f'La fermata con il massimo di scesi {scesiMax} è {nomi[fermataScesiMAx]}')



    passeggerixAutista = calcolaPasseggeriXAutista(corse)
    print(passeggerixAutista)
    
main()

    Code                     Name
0   A002        Sebastiano Canali
1   A003         Giacobbe Comboni
2   A004        Lolita Crisafulli
3   A006           Silvio Cabibbo
4   A008          Fausto Papafava
5   A010             Barbara Bush
6   A012           Eliana Capuana
7   A014              Verim Duran
8   A015              Ivo Cendron
9   A020             Fuzuli Soylu
10  A021        Adelasia Ceravolo
11  A022          Luisa Franscini
12  A041           Adele Venditti
13  A044              Sole Borgia
14  A100        Marissa Iacobucci
15  A104   Omar Barroso-Izaguirre
16  A109       Felipe Casal Muñoz
17  A110   Marcantonio Costalonga
18  A119            Ida Contarini
19  A137              Ezio Nugnes
20  A139         Filippo Gregorio
21  A154          Arsenio Sollima
22  A156     Emperatriz de Albero
23  A189         Amico Rusticucci
24  A200         Elladio Endrizzi
25  A202         Alderano Tiepolo
26  A212               Livio Cuda
27  A240             Danilo Bazzi
28  A250            Matilde Rossi
29  F009                 Torino 1
30  F010                 Torino 2
31  F011                 Torino 3
32  F012           Torino P. Susa
33  F013          Torino P. Nuova
34  F014          Torino Lingotto
35  F021                Venaria 1
36  F022                Venaria 2
37  F027                 Pianezza
38  F028               Collegno 1
39  F029               Collegno 2
40  F030               Collegno 3
41  F039                  Borgaro
42  F042                Aeroporto
43  F043                Caselle 1
44  F044                Caselle 2

La fermata con il massimo di saliti 1626 è  Aeroporto
La fermata con il massimo di scesi 39 è  Caselle 2
{'A012': 50, 'A003': 49, 'A041': 46, 'A240': 52, 'A119': 40, 'A015': 37, 'A154': 32, 'A008': 43, 'A212': 12, 'A021': 22, 'A022': 16, 'A109': 15, 'A200': 21, 'A010': 16, 'A139': 11, 'A006': 10}